<h1>Exhibition Wishlist</h1>
{% if username %}
<p>Logged in as: <strong>{{ username }}</strong> </p>
<form action="/logout" method="GET">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<hr>
<h2>Add an exhibition to the list:</h2>
<form action="/add_exhibition" method="GET">
    <button type="submit" class="btn btn-primary">Add exhibition</button>
</form>
<hr>
{% else %}
<form action="/login_page" method="GET">
    <button type="submit" class="btn btn-primary">Login</button>
</form> or
<form action="/sign_up_page" method="GET">
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endif %}
    <h2>All Exhibitions:</h2>
    <hr>
        {% for exhibition in all_exhibitions %}
            <p>{{ exhibition.start_date.strftime('%d.%m.%Y') }} - {{ exhibition.end_date.strftime('%d.%m.%Y') }}</p>
            <h3>{{ exhibition.exhibition_name }}</h3>
            <h5>{{ exhibition.museum_name }}</h5>

            <hr>
        {% endfor %}
