<h1>Exhibition Wishlist</h1>

<!-- button here directing to adding exhibition page-->
<form action="/add_exhibition" method="GET">
    <button type="submit" class="btn btn-primary">Add exhibition</button>
</form>
    <h2>All Exhibitions:</h2>
    <hr>
        {% for exhibition in all_exhibitions %}
            <p>{{ exhibition.start_date.strftime('%d.%m.%Y') }} - {{ exhibition.end_date.strftime('%d.%m.%Y') }}</p>
            <h3>{{ exhibition.exhibition_name }}</h3>
            <h5>{{ exhibition.museum_name }}</h5>

            <hr>
        {% endfor %}
